body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.main {
    background-color: gray;
    text-align: center;
    width: 30vh;
    height: 30vh;
    align-content: center;
}